* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*****************Navbar*********************/

.navbar {
    text-transform: uppercase;
}

/********************************************/

/*************Hero Image *******************/

#hero-image {
  max-width: 100%;
  display: block;
  height: auto;
}


