* {
    margin: 0;
    padding: 0;
    border: 0;
}

.hero-image {
 background-image: url("../images/arthursseat.jpg");
 height: 100vh;
 width: auto;
}

/*****************Navbar*********************/

.navbar {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    background-color: #3b3a3a;
    min-height: 10px;
}

.navbar a {
    color: #fafafa;
}

/********************************************/

/*************Hero Image *******************/


/*
#hero-image {
  width: 100%;
  display: block;
  height: auto;
  background-size: cover;
}

*/

/*************Footer*******************/

footer {
    background-color: #3b3a3a;
    color: #fafafa;
    margin: 0;
    min-height: 10px;
}

footer h5 {
    text-align: left;
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

/*****Edited from resume mini-project*/
.list-inline-item {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    background-color: #fafafa;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

footer a {
    color: #3b3a3a;
}


